<div *ngIf="(loading$ | async); else content">
<p data-test="loading">Loading!!</p>
</div>
<ng-template #content>
    <ng-container *ngIf="list$ | async as eventList">

    <table data-test="table" mat-table [dataSource]=eventList.events>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Event Name</th>
          <td mat-cell *matCellDef="let event">{{event.name}}</td>
        </ng-container>
    
        <ng-container matColumnDef="venueName">
          <th mat-header-cell *matHeaderCellDef>Venue</th>
          <td mat-cell *matCellDef="let event">{{event.venueName}}</td>
        </ng-container>
    
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef>Event Start</th>
          <td mat-cell *matCellDef="let event">{{event.startDate}}</td>
        </ng-container>
    
        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef>Event End</th>
          <td mat-cell *matCellDef="let event">{{event.endDate}}</td>
        </ng-container>

        <ng-container matColumnDef="eventUrl">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let event"><button (click)="toEvent(event.url)" mat-raised-button color="primary">More Detail</button></td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr data-test="event-row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator
        *ngIf="eventList.page && eventList.page.totalPages"
        [pageSize]="eventList.page.size"
        [pageIndex]="eventList.page.number"
        [length]="eventList.page.totalElements"
        (page)="onPageChange($event)"
        >
        </mat-paginator>

    </ng-container>
</ng-template>